<template>
  <div>
    <div class="row mb-4">
      <div class="col-sm-3">
        <div class="card top-card mb-1" style="background-color: #256FC5">
          <div class="row my-auto">
            <div class="col-sm-4">
              <div class="container my-auto">
                <i class='fas fa-user-check fa-3x'></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="container-fluid text-right pr-3">
                <h4 mb-0>350</h4>
                Head Count
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card top-card mb-1" style="background-color: #A070C1">
          <div class="row my-auto">
            <div class="col-sm-4">
              <div class="container my-auto">
                <i class='fas fa-id-card-alt fa-3x'></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="container-fluid text-right pr-3">
                <h5 class="mb-0">320</h5>
                Permanent
                <h5 class="mb-0 mt-2">30</h5>
                Temporary
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card top-card mb-1" style="background-color: #DD78AA">
          <div class="row my-auto">
            <div class="col-sm-4">
              <div class="container my-auto">
                <i class='fas fa-angle-double-up fa-3x'></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="container-fluid text-right pr-3">
                <h4 mb-0>23</h4>
                Promotions
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card top-card mb-1" style="background-color: #FB9092">
          <div class="row my-auto">
            <div class="col-sm-4">
              <div class="container my-auto">
                <i class='fas fa-recycle fa-3x'></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="container-fluid text-right pr-3">
                <h5 class="mb-0">12</h5>
                Hired
                <h5 class="mb-0 mt-2">2</h5>
                Left
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row mb-4">
      <div class="col-sm-6">
        <div class="card">
          <div class="container">
            <img src="https://wcs.smartdraw.com/bar-graph/img/simplebarchart.jpg?bn=1510011145" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="container">
            <img src="https://wcs.smartdraw.com/bar-graph/img/simplebarchart.jpg?bn=1510011145" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-sm-6">
        <div class="card">
          <div class="container">
            <img src="https://wcs.smartdraw.com/bar-graph/img/simplebarchart.jpg?bn=1510011145" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="container">
            <img src="https://wcs.smartdraw.com/bar-graph/img/simplebarchart.jpg?bn=1510011145" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>


export default {
  name: 'DashboardPage',
  components: {

  },

  data() {

  },

  methods: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.top-card {
  color: white;
  height: 130px;
}
</style>
