<template>
  <div>
    <div class="row mb-4">
      <div class="container-fluid text-left">
        <!-- add employee button -->
        <AddEmployeeButtons/>
      </div>
    </div>

    <div class="row mb-4">
      <div class="container-fluid">
        <!-- tabs button -->
        <TabButtons/>
      </div>
    </div>

    <div class="row mb-4">
      <div class="container-fluid">
        <!--  list table -->
        <Table/>
      </div>
    </div>
  </div>
</template>

<script>
import AddEmployeeButtons from '../components/EmployeePage/AddEmployeeButtons.vue'
import TabButtons from '../components/EmployeePage/TabButtons.vue'
import Table from '../components/EmployeePage/Table.vue'

export default {
  name: 'EmployeePage',
  components: {
    AddEmployeeButtons,
    TabButtons,
    Table,
  },

  data() {
    return {
      // Your data
    }
  },

  methods: {
    test() {
      return 'a';
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  /* Style */
</style>
