<template>
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-sm-2 text-left">
        <h2 class="mt-0">Hierarchy</h2>
      </div>
      <div class="col-sm-8 text-center">
        <button type="button" class="btn btn-dark mr-2 myBtn">+ Add Division</button>
        <button type="button" class="btn btn-dark ml-2 myBtn">+ Add Level 2 Branch</button>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-9">
        <div class="card p-4">
          <img src="http://silvikultur.fahutan.ipb.ac.id/wp-content/uploads/2014/12/Struktur-Organisasi-SVK1.png" class="img-fluid" alt="mindzzle">
        </div>
      </div>

      <div class="col-sm-3 ml-0">
        <div class="row" style="height: 50% !important;">
          <div class="container-fluid mb-3" style="height: 100%">
            <div class="card align-items-center" style="background-color: #A070C1; color: white; height: 100%;">
              <div class="container my-auto">
                <h6>Qty Licensee</h6>
                <h4>31</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height: 50% !important;">
          <div class="container-fluid mt-3">
            <div class="card" style="background-color: #DD78AA; color: white; height: 100%;">
              <div class="container my-auto">
                <h6>Total Approval</h6>
                <h4>12</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="container-fluid">
        <div class="card p-4 text-left">
          <h2 class="mb-4">Job List</h2>
          <div class="table-responsive-sm text-left">
            <table class="table" id="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Division</th>
                  <th>Parent Division</th>
                  <th>Level</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="employee in employees" v-bind:key="employee.name">
                  <td>{{employee.name}}</td>
                  <td>{{employee.division}}</td>
                  <td>{{employee.par_div}}</td>
                  <td>{{employee.level}}</td>
                  <td>
                    <div class="row">
                      <div class="dropdown mr-2">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Set Hierarchy
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item">Edit in Hierarchy</a>
                        <a class="dropdown-item">Move</a>
                        <a class="dropdown-item">Delete</a>
                      </div>
                    </div>
                    <button type="button" class="btn btn-outline-dark mr-2">Set License</button>
                    <button type="button" class="btn btn-outline-dark">Approval</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

export default {
  name: 'HierarchyPage',
  components: {

  },

  data() {
    return {
      employees: [
        {name:'Anna Erra', division:'Board', par_div:'None', level:1},
        {name:'Anna Erra', division:'Board', par_div:'None', level:1},
        {name:'Anna Erra', division:'Board', par_div:'None', level:1},
        {name:'Anna Erra', division:'Board', par_div:'None', level:1},
        {name:'Anna Erra', division:'Board', par_div:'None', level:1},
      ]
    }
  },

  methods: {

  },

  mounted() {
    // eslint-disable-next-line
    $('#table').dataTable();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.myBtn {
  width: 170px;
}
</style>
