<template>
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="container-fluid">
        <button type="button" class="btn btn-primary mr-4 font-weight-bold" style="float: left;">+ Add New Facancy</button>
      </div>
    </div>

    <div class="row">
      <div class="container-fluid">
        <div class="card p-4 text-left">
          <h2 class="mb-4">Job List</h2>
          <div class="table-responsive-sm text-left">
            <table class="table" id="table">
              <thead>
                <tr>
                  <th>Position</th>
                  <th>Job Status</th>
                  <th>Exp. Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="job in jobList" v-bind:key="job.position">
                  <td>{{job.position}}</td>
                  <td>{{job.status}}</td>
                  <td>{{job.expDate}}</td>
                  <td>
                    <button type="button" class="btn btn-primary myBtn mr-2">View Candidates</button>
                    <button type="button" class="btn btn-outline-dark myBtn">Close Vacancy</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
// import AddEmployeeButtons from '../components/EmployeePage/AddEmployeeButtons.vue'
// import TabButtons from '../components/EmployeePage/TabButtons.vue'
// import Table from '../components/EmployeePage/Table.vue'

export default {
  name: 'JobPostingPage',
  components: {

  },

  data() {
    return {
      jobList: [
        {position: 'UX Designer', status: 'Full Time', expDate: '20/04/2019'},
        {position: 'Front-End Engineer', status: 'Full Time', expDate: '20/06/2019'},
        {position: 'DevOps', status: 'Full Time', expDate: '20/01/2019'},
        {position: 'Product Manager', status: 'Full Time', expDate: '20/12/2019'},
        {position: 'UI Designer', status: 'Internship', expDate: '20/09/2019'},
      ],
    }
  },

  methods: {

  },

  mounted() {
    // eslint-disable-next-line
    $('#table').dataTable();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.myBtn {
  width: 140px;
  border-radius: 6px;
}
</style>
