<template>
  <div>
    <nav class="navbar navbar-expand-md bg-light navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <form class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Search for friends, company, jobs..." size="50">
          </form>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- <img src="https://www.seekpng.com/png/detail/4-49948_anonymous-person-png-banner-library-stock-icon-profil.png" class="img-fluid" alt="profile-photo"> -->
            <i class='fas fa-user-circle img-fluid' style='font-size:36px; color:#000000'></i>
          </li>
          <li class="nav-item">
            <a class="nav-link font-black" href="#">Budi Sudarsono</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
  </div>
</template>

<script>
export default {
  name: 'Navbar',
  props: {
    msg: String
  },

  data() {
    return {
      // Your data
    }
  },

  methods: {
    test() {
      return 'a';
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* .navbar {
  background-color: #ffffff;
} */
/* .form-control {
  border-color: #ffffff;
} */
.font-black {
  color: black;
}
</style>
