<template>
  <div>
    <button class="w3-bar-item w3-button w3-large w3-hide-large" @click="w3_close()">Close &times;</button>
    <div class="container-fluid mb-3" style="background-color: #e96f24;">
      <img src="../assets/mindzzle-logo.png" class="img-fluid mt-2 mb-2" alt="mindzzle-logo">
    </div>
    <div class="container-fluid mb-2">
      MAIN MENU
    </div>
    
    <!-- <router-link
      to="/"
      class="w3-bar-item w3-button"
      ><i class='fas fa-building fa-lg mr-3'></i>Profile</router-link
    >
    <router-link
      to="/dashboard"
      class="w3-bar-item w3-button"
      ><i class='fas fa-chart-bar fa-lg mr-3'></i>Dashboard</router-link
    >
    <router-link
      to="/employee"
      class="w3-bar-item w3-button"
      ><i class='fas fa-user fa-lg mr-3'></i>Employee</router-link
    >
    <router-link
      to="/hierarchy"
      class="w3-bar-item w3-button"
      ><i class='fas fa-user-friends fa-lg mr-2'></i>Hierarchy</router-link
    >
    <router-link
      to="/jobposting"
      class="w3-bar-item w3-button"
      ><i class='fas fa-list-ul fa-lg mr-3'></i>Job Posting</router-link
    > -->

    <a href="/" class="w3-bar-item w3-button"><i class='fas fa-building fa-lg mr-3'></i>Profile</a>
    <a href="/dashboard" class="w3-bar-item w3-button"><i class='fas fa-chart-bar fa-lg mr-3'></i>Dashboard</a>
    <a href="/employee" class="w3-bar-item w3-button"><i class='fas fa-user fa-lg mr-3'></i>Employee</a>
    <a href="/hierarchy" class="w3-bar-item w3-button"><i class='fas fa-user-friends fa-lg mr-2'></i>Hierarchy</a>
    <a href="/jobposting" class="w3-bar-item w3-button"><i class='fas fa-list-ul fa-lg mr-3'></i>Job Posting</a>
  </div>
</template>

<script>
export default {
  name: 'Sidebar',
  components: {
    
  },
  data() {
    return {
      // Your data
    }
  },

  methods: {
    w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
