<template>
  <div id="app">

    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left text-left" style="width:200px;" id="mySidebar">
      <Sidebar/>
    </div>

    <div class="w3-main" style="margin-left:200px">
      <div class="w3-teal text-left mobile-sidebar">
        <button class="w3-button w3-teal w3-xlarge w3-hide-large mobile-sidebar" @click="w3_open()">&#9776; Sidebar</button>
      </div>

      <!-- The Whole Content -->
      <div class="w3-container">
        <div class="row">
          <div class="container-fluid p-0">
            <Navbar/>
          </div>
        </div>
        <!-- ROUTER VIEW -->
        <router-view/>
        <!-- ROUTER VIEW -->
      </div>
    </div>

  </div>
</template>

<script>
import Sidebar from './components/Sidebar.vue'
import Navbar from './components/Navbar.vue'

export default {
  name: 'app',
  components: {
    Sidebar,
    Navbar,
  },
  data () {
    return {
      
    }
  },
  methods: {
    w3_open() {
      document.getElementById("mySidebar").style.display = "block";
    },
  },
}
</script>

<style>
#app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif; */
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
#mySidebar {
  background-color: #1d232a !important;
  color: white;
}

.mobile-sidebar {
  background-color: #1d232a !important;
}
</style>
