<template>
  <div class="container-fluid">
    <button type="button" class="btn btn-primary mr-4 font-weight-bold" data-toggle="modal" data-target="#addEmployee">+ Add Employee</button>
    <button type="button" class="btn btn-outline-primary add-manually-button mr-4" data-toggle="modal" data-target="#addManually">Add Manually</button>
    <i class='fas fa-exclamation-circle fa-lg' style='color:#acacac'></i>

    <!-- MODAL: Add Employee -->
    <div class="modal fade" id="addEmployee">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title">Add New Employee</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="container">
              <div class="row">

                <div class="col-sm-6">
                  <form action="">
                    <div class="form-group mb-4">
                      <label for="email">Choose Employee Email</label>
                      <select class="form-control" id="" name="">
                        <option v-for="employee in employees" v-bind:key="employee.email">{{employee.email}}</option>
                      </select>
                    </div>

                    <h5 class="m-0">User Info</h5>
                    <hr class="mt-1"/>

                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" placeholder="Full Name" name="">
                    </div>
                    <div class="form-group">
                      <label>Phone Number</label>
                      <input type="text" class="form-control" placeholder="Phone Number" name="">
                    </div>
                    <div class="form-group">
                      <label>Address</label>
                      <input type="text" class="form-control" placeholder="Address" name="">
                    </div>
                    <div class="form-group">
                      <label>Birthday</label>
                      <input type="date" class="form-control" placeholder="" name="">
                    </div>
                  </form>
                </div>

                <div class="col-sm-6">
                  <form class="" action="" method="">
                    <h5 class="mb-0 mt-2">Contract Info</h5>
                    <hr class="mt-1"/>

                    <div class="form-group">
                      <label for="">Contract Type</label>
                      <select class="form-control" id="" name="">
                        <option>Full-Time</option>
                        <option>Intern</option>
                        <option>Part-Time</option>
                        <option>Other..</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Set Hierarchy</label>
                      <select class="form-control" id="" name="">
                        <option>C-Level</option>
                        <option>Manager</option>
                        <option>Staff</option>
                        <option>Other..</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Date In</label>
                      <input type="date" class="form-control" placeholder="" name="">
                    </div>
                    <div class="form-group">
                      <label>Date Out</label>
                      <input type="date" class="form-control" placeholder="" name="">
                    </div>
                    <div class="form-group">
                      <label>Salary</label>
                      <input type="number" class="form-control" placeholder="Salary" name="">
                    </div>
                  </form>
                  <div class="text-right">
                    <button type="button" class="btn btn-outline-primary">Discard</button>
                    <button type="button" class="btn btn-primary ml-2">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END of MODAL: Add Employee -->

    <!-- MODAL: Add Manually -->
    <div class="modal fade" id="addManually">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title">Add Employee Manually</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="container text-center ml-auto mr-auto pt-3 pb-3">
              <button type="button" class="btn btn-outline-success upload-download-btn mb-2"><i class='fas fa-cloud-download-alt'></i> Download .csv template</button>
              <br/>
              or
              <br/>
              <button type="button" class="btn btn-outline-dark upload-download-btn mt-2"><i class='fas fa-cloud-download-alt'></i> Upload .csv template</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },

  data() {
    return {
      employees: [
        {name: 'Andranisa', division: 'Staff', age: 23, contract: '20/04/2019', email: 'andranisa@email.com'},
        {name: 'Andrea D', division: 'Staff', age: 40, contract: '20/04/2023', email: 'andrea@email.com'},
        {name: 'Anna Erra', division: 'Board', age: 41, contract: '19/02/2020', email: 'anna@email.com'},
        {name: 'Annisa Mulya', division: 'Staff', age: 22, contract: '31/01/2021', email: 'annisa@email.com'},
        {name: 'Bimo Sakti', division: 'Board', age: 23, contract: '20/04/2019', email: 'bimo@email.com'},
      ],
    }
  },

  methods: {
    test() {
      return 'a';
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.add-manually-button {
  border-width: 1.5px;
  font-weight: bold;
}
.upload-download-btn {
  width: 300px;
  height: 80px;
  font-size: 20px;
  border-radius: 16px;
}

</style>
