<template>
  <div class="container-fluid">
    <div class="row m-auto">
      <div class="col-sm-3 p-0">
        <button type="button" class="btn btn-warning btn-block button-active">Active</button>
      </div>

      <div class="col-sm-3 p-0">
        <button type="button" class="btn btn-warning btn-block button-passive">Applicant</button>
      </div>

      <div class="col-sm-3 p-0">
        <button type="button" class="btn btn-warning btn-block button-passive">Ex-Employee</button>
      </div>

      <div class="col-sm-3 p-0">
        <button type="button" class="btn btn-warning btn-block button-passive">Reject</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },

  data() {
    return {
      // Your data
    }
  },

  methods: {
    test() {
      return 'a';
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.button-active {
  font-weight: bold;
  color: white;
  background-color: orange;
  height: 50px;
}

.button-passive {
  font-weight: bold;
  color: #8d8d8d;
  background-color: white;
  height: 50px;
  border-width: 1.5px;
}
</style>
