<template>
  <!-- <div class="row ml-2 mr-2 "> -->
    <div class="container-fluid">
      <div class="card p-4">
        <div class="table-responsive-sm text-left">
          <table class="table" id="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Division</th>
                <th>Age</th>
                <th>Contract</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="employee in employees" v-bind:key="employee.name">
                <td>{{employee.name}}</td>
                <td>{{employee.division}}</td>
                <td>{{employee.age}}</td>
                <td>{{employee.contract}}</td>
                <td>
                  <button type="button" class="btn button-active mr-3">De-Assign</button>
                  <button type="button" class="btn button-passive ">Terminate</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  <!-- </div> -->
</template>

<script>
// eslint-disable-next-line
$(document).ready(function(){ // eslint-disable-next-line
    $('#table').dataTable();
});

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },

  data() {
    return {
      employees: [
        {name: 'Andranisa', division: 'Staff', age: 23, contract: '20/04/2019', email: 'andranisa@email.com'},
        {name: 'Andrea D', division: 'Staff', age: 40, contract: '20/04/2023', email: 'andrea@email.com'},
        {name: 'Anna Erra', division: 'Board', age: 41, contract: '19/02/2020', email: 'anna@email.com'},
        {name: 'Annisa Mulya', division: 'Staff', age: 22, contract: '31/01/2021', email: 'annisa@email.com'},
        {name: 'Bimo Sakti', division: 'Board', age: 23, contract: '20/04/2019', email: 'bimo@email.com'},
      ],
    }
  },

  methods: {
    test() {
      return 'a';
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.button-active {
  font-weight: bold;
  color: white;
  background-color: orange;
  width: 100px;
}

.button-passive {
  font-weight: bold;
  color: white;
  background-color: #d9d9d9;
  width: 100px;
}
</style>
